/app/node_modules
/app/.env
/rds/.terraform
rds/.terraform/LICENSE.txt
/rds/.terraform.lock.hcl
/rds/terraform.tfstate
/rds/terraform.tfstate.backup
/budget
/lambda/.terraform
/lambda/.terraform.lock.hcl
/lambda/lambda_function_payload.zip
/lambda/terraform.tfstate
/lambda/terraform.tfstate.backup
/lambda/terraform.tfvars